<body>
  <div>
    <h2 class = "title">Welcome to Space Station Pizza</h2>
  </div>
  <div>
    <table class="table-border">
      <tr class="table-head">Menu</tr>
      <tr>
        <th class="table-border">Item</th>
        <th class="table-border">Catagory</th>
        <th class="table-border">Price</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of menuItems">
        <td>{{item.name}}</td>
        <td>{{item.catagory}}</td>
        <td>{{item.price}}</td>
        <td>
          <p *ngFor="let items of item.topping">
            {{items}}  
          </p>
        </td>
      </tr>
    </table>
  </div>
</body>